* {
    box-sizing: border-box;
    margin: 0;
  }
  
  img {
    width: 350px;
    height: 350px;
    border-radius: 20px;
    filter: blur(10px);
    transition: 0.3s ease;
    border-top-left-radius: 200px;
  }
  
  img:hover {
    filter: blur(0px);
    border-top-left-radius: 0px;
  }
  
  .gallery {
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 200px 50px;
    justify-content: center;
  }
  
  .gallery div {
    border: 5px solid bisque;
    border-radius: 20px;
    overflow: hidden;
    transition: 0.3s ease;
    border-top-left-radius: 200px;
  }
  
  .gallery div:hover {
    scale: 110%;
    border: 5px solid rgb(247, 96, 96);
    filter: blur(0px);
    border-top-left-radius: 0px;
  }
  
  body {
    background-color: rgb(162, 162, 77);
  }
  
  h1 {
    background-color: bisque;
    font-size: 50px;
    font-family: "Comic Neue", cursive;
    padding: 30px;
    text-align: center;
  }